<table class="table table-hover table-info">
    <thead>
      <tr>
        <th scope="col">#</th>
       <th scope="col">Bid</th>
        <th scope="col">Cname</th>
        <th scope="col">Ctype</th>
        <th scope="col">mail</th>
        <th scope="col">noofcylinders</th>
        <th scope="col">city</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of booking">
        
          <th scope="row"></th>
          
          <td><a routerLink="/updatestatus/{{ book.bid }}" routerLinkActive="active">{{ book.bid }}</a></td>
         
         
          
          <td>{{ book.cname }}</td>
          <td>{{ book.ctype }}</td>
          <td>{{ book.mail }}</td>
          <td>{{ book.noofcylinders }}</td>
          <td>{{ book.city }}</td>
         <td><button type="button" (click)="onDelete(book)"class="btn btn-outline-danger">Cancel Booking</button></td>
            
         
  
        
      </tr>
    </tbody>
  </table>