<img class="img" src="/assets/payment-logo.jpeg">
 <div class="container mt-5">
    <div class="style1">
      <div class="pay">
      <h2 >Make Your Payment Here!!!!!</h2></div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="one">
        <button (click)="pay(700)" class="btn btn-primary btn-block">Pay for 1 cylinder </button></div>
      </div>

      <div class="col-md-4">
        <div class="two">
        <button (click)="pay(1400)"
        class="btn btn-success btn-block">
        Pay for 2 cylinder</button></div>
      </div>
      <div class="col-md-4">
        <div class="three">
        <button (click)="pay(2200)" class="btn btn-info btn-block">
          Pay for 3 cylinder</button></div>
      </div>    
    </div>
    </div>
    </div>
    
    …