.homecontent
{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.homecontent h1
{
      color: orange;
      font-size: 50px;

      
}
.homecontent a
{
      margin-top: 30px;
}
@media screen and (max-width:600px)
{
      .homecontent h1
{
       font-size: 40px;
}
}

.btn-outline-secondary
{
    margin-top: 50px;
    margin-bottom: 50px; 
    position:relative; 
    left:30%; margin-left:-20px;
    margin-bottom:-27px;
    border-radius: 400%;
    width: 6.6rem;
   height: 6.6rem;
   margin: 4px 6px 4px 6px;
   text-transform: uppercase;
   background-color: #A52a2a;
   text-decoration-color: black;
   color:black;
   opacity:1;
}
.btn-outline-secondary{
    animation: animate 1.5s linear infinite;
  } 
  @keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }
.burn{
  background-image: url('..//../assets/home.jpg');
  background-size: cover;
  height:40%;
  width:96%;
  top:10%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;

}