<div class="burn">
    <section class="home">
        <div class="homecontent">
            <h1>Onspot Booking</h1>
            <button type="button" class="btn-outline-secondary" routerLink="/booking">Book Now</button>
         
        </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    </div>