<nav class="py-2 bg-dark border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      
      <button type="button" class="btn btn-outline-secondary"  routerLink="/home"
      routerLinkActive="active"><i class="bi bi-house-door"></i><br/>HOME</button>
      
      <button type="button" class="btn btn-outline-secondary"  routerLink="/booking"
      routerLinkActive="active"><i class="bi bi-journal-check"></i><br/>BOOKING</button>
      <button type="button" class="btn btn-outline-secondary"  routerLink="/payment"
      routerLinkActive="active"><i class="bi bi-cash-stack"></i><br/>PAYMENT</button>
  
      <button type="button" class="btn btn-outline-secondary"  routerLink="/contactus"
      routerLinkActive="active"><i class="bi bi-telephone-forward-fill"></i><br/>CONTACTUS</button>
      <button type="button" class="btn btn-outline-secondary"  routerLink="/aboutus"
      routerLinkActive="active"><i class="bi bi-file-earmark-person-fill"></i><br/>ABOUTUS</button>
      
    </ul>
    <ul class="nav">
      <button type="button" class="btn btn-outline-secondary"  routerLink="/login"
      routerLinkActive="active"><i class="bi bi-box-arrow-in-right"></i><br/>LOGIN</button>
      <button type="button" class="btn btn-outline-secondary"  routerLink="/register"
      routerLinkActive="active"><i class="bi bi-person-plus"></i><br/>REGISTRATION</button>
      
 
      
    </ul>
  </div>
</nav> 

<router-outlet></router-outlet>