<body>

    <div class="about-section">
      <h1>contact us </h1>
      <p> To manage the details of Connections, Customers, Payments,Gas, Delivery.</p>
      <img src="/assets/aboutus.jpg" style="width:30%">
  
    
    </div>
    
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h2>Mr.THIRUMALAI K</h2><br>
            <h2>Mr.UDAY GETTH RAJ</h2>
            <p class="title">CEO & Founder</p>
            <p><a href="tel:9080144203">Make a call</a></p>
           
            <p>thirumalai123@gmail.com,uday123@gmail.com</p>
            <p><a  href="mailto:thiru102000@gmail.com"> <button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h2>Ms.SUSHMITA SELOKAR</h2><br>
            <h2>Ms.SONAL AMBHORE</h2>
            <p class="title">Art Director</p>
            <p><a href="tel:9080144203">Make a call</a></p>
           
            <p>sushmitha123@gmail.com,sonal123@gmail.com</p>
            <p><a  href="mailto:sonalambhore98@gmail.com"> <button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
         
          <div class="container">
            <h2>Mr.SRISH R K</h2><br>
            <h2>Mr.SAVARAPU KIRAN</h2>
            <p class="title">Designer</p>
            <p><a href="tel:9080144203">Make a call</a></p>
            
            <p>srish123@gmail.com,kiran123@gmail.com</p>
            <p><a  href="mailto:savarapukiran20@gmail.com"> <button class="button">Contact</button></a></p>
            
          </div>
        </div>
      </div>
    </div>
    
    </body>