<div class="container">
    <div class="col align-self-center">
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group">
          <label for="cname" class="col-sm-2 col-form-label">Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employeeData.cname"
            name="txtename"
            #cname="ngModel"
            pattern="^[a-zA-Z\s]{1,15}$"
            required
          />
        </div>
        <span
          *ngIf="cname.invalid && cname.touched"
          class="error form-control-feedback"
          >Enter your Name</span
        >
        <label for="ctype" class="col-sm-2 col-form-label">Enter Your Type</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="employeeData.ctype"
          name="txtctype"
          #ctype="ngModel"
          pattern="^[a-zA-Z\s]{1,15}$"
          required
        />
      
      <span
        *ngIf="cname.invalid && cname.touched"
        class="error form-control-feedback"
        >Enter your Type</span
      >
        <div class="form-group">
          <label for="txtmail" class="col-sm-2 col-form-label">Email</label>
          <input
            type="mail"
            class="form-control"
            [(ngModel)]="employeeData.mail"
            name="txtmail"
            #txtmail="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,3}$"
            required
          />
        </div>
        <span
          *ngIf="txtmail.invalid && txtmail.touched"
          class="error form-control-feedback"
          >E-mail is required</span
        >
        <label for="noofcylinders" class="col-sm-2 col-form-label">Enter Your no of Cylinders</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="employeeData.noofcylinders"
          name="txtnoofcylinders"
          #noofcylinders="ngModel"
          pattern="^[a-zA-Z\s]{1,15}$"
          required
        />
  
      <span
        *ngIf="noofcylinders.invalid && noofcylinders.touched"
        class="error form-control-feedback"
        >Enter your cylinders</span
      >
      <label for="ctype" class="col-sm-2 col-form-label">Enter Your City</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employeeData.city"
        name="txtcity"
        #city="ngModel"
        pattern="^[a-zA-Z\s]{1,15}$"
        required
      />
  
    <span
      *ngIf="city.invalid && city.touched"
      class="error form-control-feedback"
      >Enter your city</span
    >
        
        
        
        <div class="form-group">
          <button
            (click)="updateBooking()"
            
            type="button"
            class="btn btn-primary"
          >
            Update Booking
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Please fill all the fields
        </div>
        </form>
        </div>
        </div>
        
  
    