<body>
    <div class="grad">
    <div class=id>
    <h1>OUR VISION</h1>
    </div>
    <p >Welcome to the world of XYZgas, a diversified,
         integrated energy major with presence in almost all 
         the streams of oil, gas, petrochemicals and alternative 
         energy sources; a world of high-calibre people,
          state-of-the-art technologies and cutting-edge; 
          a world of best practices, quality-consciousness and 
          transparency; and a world where energy in all its forms is tapped most responsibly and delivered to the consumers most affordably.
          Welcome to XYZOIL, The Energy of India.</p>
          <br>
    
          <div class=id>

          <h1>OUR NEW INTRODUCTION</h1>
          </div>
          <div class="id1">
          <h4>New 5 litre gas cylinder!!!!!</h4></div>
        
        <!-- 21:12 aspect ratio -->
        <div class="embed-responsive embed-responsive-41by21">
        <iframe class="embed-responsive-item" src="assets/vid.mp4"></iframe>
        </div>
        <br>
        <br>
        <div class="id3">
        <h2>Precautions to be taken while using gas cylinders</h2></div>
        <div class="id4">
        <ul>
            <li>
                Always use LPG cylinders, which have ISI mark on them.
            </li>
            <li>
                Make sure you buy the gas cylinders from genuine dealers. Do not buy them from black market.

            </li>
            <li>
                While accepting the gas cylinder at the 
                time of its delivery, make sure to check 
                that the cylinder is sealed properly and its 
                safety cap is not tampered, which can otherwise 
                cause the leakage of LPG that might cause dreadful explosion.

            </li>
            <li>
                Once received, keep the gas cylinder in a
                 vertical position, on a flat surface and in a 
                 proper ventilated area.
            </li>
            <li>
                Make sure that there are no inflammable
                materials and fuels (like kerosene) near the gas 
                cylinder, which can cause an explosion.

            </li>
            <li>
                Get help from the service man or the 
                deliveryman to connect the gas cylinder 
                so that it is fitted carefully and correctly.

            </li>
            <li>
                Always turn off the knob on the gas cylinder, after use,
                 to prevent any 
                accidental leakage.
            </li>
            <li>
                for more infomation visit the link.
               
            </li>

        </ul>
        </div>

        <br>
        <br>

        <h1>Our Branches</h1>
        <ol>
            <li>Pune</li>
            <li>Chennai</li>
            <li>Mumbai</li>
            <li>Hyderabad</li>
            <li>Banglore</li>
        </ol>
        </div>
</body>